# Data Science Tools and Ecosystem

## Author
Gabrielle Chiarello

Introduction: In this notebook, we will summarize Data Science Tools and Ecosystem

**Objectives:**
- Popular Data Science Languages
- Popular Data Science Libraries
- Common Data Science Tools
- Simple Arithmetic Examples

Some of the popular languages that Data Scientsists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++

Some of the commonly used libraries used by Data Scientists are:
1. Pandas
2. NumPy
3. TensorFlow
4. Pytorch
5. Keras

| Data Science Tools |
| --- |
| Jupyter|
| RStudio |
| Spyder |

### Below are a few examples of arithmetic expressions in Python

In [4]:
# This is a simple arithmetic expression to multiply and then add integers
(3*4)+5

17

In [5]:
# This code cell will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335